.background {
    background-color: #f9f7f7;
}

.button-color {
    background-color: #112d4e;
    color: #f9f7f7;
    width: 300px;
    margin-top: 50px;
    height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.000em
}

.button-color:hover, .signup-button-color:hover {
    background-color: #dbe2ef;
    color: #112d4e;
}

.tab-list {
    border-bottom: 1px solid #dbe2ef;
    padding-left: 0;
    margin: 0;
    background-color: #dbe2ef;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    background-color: #dbe2ef;
    font-family: 'Roboto', sans-serif;
    color: #112d4e;
}

.tab-list-item:hover {
    background-color: #112d4e;
    color: #dbe2ef;
}

.tab-list-active {
    background-color: #3f72af;
    border: solid #3f72af;
    border-width: 1px 1px 0 1px;
}

.tabs {
    /* border: solid 2px; */
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.tabs-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content {
    padding-top: 30px;
    background-color: #3f72af;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.login-input {
    width: 300px;
    margin: 5px;
    height: 30px;
    border: none;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.000em;
}

.login-input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.p-label {
    margin-left: 10px;
}

.signup-button-color {
    background-color: #112d4e;
    color: #f9f7f7;
    width: 300px;
    margin-top: 15px;
    height: 40px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.000em
}

/* Media queries */

@media screen and (max-width: 800px) {
    .tabs {
        width: 400px;
    }
}